html, body {
    margin: 0;
    padding: 0;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: 200px;
    background-color: #F7DCB9;
    color: #333;
    user-select: none;
    overflow: hidden; /* Prevent scrolling */
    /* background-image: url('/assets/background.png'); */
}


.container {
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
    
}

img {
    width: 150px;
    margin: 0 auto;
}

/* input {
    color: #432000;
    background-color: #DCE1EB;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
} */

button {
    color: transparent;
    background-color: transparent;
    border: 0;
    padding: 15px;
    border-radius: 12px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    font-family: "Nunito", sans-serif;
}

button.login .quit {
   
    cursor: pointer;
}

.button-image {
    width: 20px; /* Adjust the width of the image */
    height: auto; /* Maintain aspect ratio */
    margin-right: 5px; /* Adjust spacing between image and text */
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

ul li {
    font-size: 20px;
    background-color: #FFFDF8;
    padding: 15px;
    border-radius: 8px;
    flex-grow: 1;
    text-align: center;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2)
}

ul li:hover {
    background-color: #FFECC7;
    cursor: pointer;
}

h1{
    text-align: center;
    color: #333;
}
h3 {
    text-align: center;
}
.author {
    text-align: center;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    color: #00215E;
  }

  .topnav {
    display: flex;
    flex-direction: column; /* Display items in a column */
    align-items: flex-end; /* Align items to the right */
}

  .btn-back {
    float: left;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
 
#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  #card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    overflow: hidden; /* Prevent overflow of text */
    
    /* Center text horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
  }
  
  .card:hover {
    background-color: #f0f0f0;
  }

  #score {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

#score span {
    margin-right: 5px;
}

#question {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

#card-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/* .card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.card:hover {
    background-color: #f0f0f0;
} */

#timer {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
}

.container-score {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 200px; /* Adjust width as needed */
    height: 50px; /* Adjust height as needed */
    overflow: hidden; /* Prevent overflow of text */
    
    /* Center text horizontally and vertically */
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 18px;
    font-weight: bold;
}


.gameover {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}


@media (max-width: 768px) {
    body {
        overflow: hidden; /* Prevent scrolling */
        user-select: none;
    }

    button {
        bottom: 10px; /* Adjust button position for smaller screens */
    }

    form {
        max-width: 300px; /* Adjust maximum width for smaller screens */
    }

    input[type="text"],
    input[type="email"],
    textarea {
        margin-bottom: 15px; /* Reduce space between form fields for smaller screens */
    }

    button {
        margin-top: 15px; /* Add space above the button for smaller screens */
    }
    
}

